header {
    background-color: #42b983;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: relative;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-notes-message{
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
}

.note {
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    transition: box-shadow .2s linear;
    &:hover{
        box-shadow: 0 0 20px #42b983;
    }
}

.note__title {
    margin-top: 0;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list__task {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    &_etc{
        margin-left: 10px;
    }
}

.task-list__checkbox {
    margin-right: 10px;
}

.default-btn {
    border: 0;
    font-size: 17px;
    display: block;
    padding: 10px 20px;
    box-shadow: #42b983 0px 5px 15px;
    background-color: #42b983;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s linear;
    &:hover {
        background-color: #62e9ac;
    }
    &:disabled {
        background-color: #9ab1a7;
        box-shadow: #9ab1a7 0px 5px 15px;
        &:hover {
            background-color: #9ab1a7;
        }
    }
}

.default-btn_create{
    margin: 20px auto;
}

.default-btn_cancel{
    box-shadow: #7c8b85 0px 5px 15px;
    background-color: #7c8b85;
    &:hover {
        background-color: #9ab1a7;
    }
}

.default-btn_delete{
    box-shadow: #eb2727 0px 5px 15px;
    background-color: #eb2727;
    &:hover {
        background-color: #ec5252;
    }
}

.default-btn_add-task{
    margin-left: 10px;
}

.trash-bin{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 40px;
    transition: transform .2s linear; 
    &:hover{
        transform: scale(1.1);
    }
}