.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_window {
    padding: 20px;
    min-width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 101;
    background-color: #fff;
    border-radius: 5px;
}

.confirmation__btns{
    display: flex;
    justify-content: space-between;
}
