@import "./_variables.scss";

body {
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 5px;
    background-color: #f4f4f4;
}

header {
    background-color: $main-green;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: relative;
    h1 {
        padding: 0 32px;
        max-width: 540px;
        margin: 22px auto;
    }
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-notes-message{
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
}

.trash-bin{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 40px;
    transition: transform .2s linear; 
    &:hover{
        transform: scale(1.1);
    }
}

.trash-bin_for-task{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    &:hover{
        transform: translateY(-50%) scale(1.1);
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_window {
    padding: 20px;
    min-width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 101;
    background-color: #ffffff;
    border-radius: 5px;
}

.back-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    width: 30px;
    cursor: pointer;
    @media (max-width: 900px){
        left: 10px;       
    }
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    &_task{
        margin-bottom: 0; 
        margin-right: 20px; 
    }
}

.default-btn {
    border: 0;
    font-size: 17px;
    display: block;
    padding: 10px 20px;
    box-shadow: $main-green 0px 5px 15px;
    background-color: $main-green;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s linear;
    &:hover {
        background-color: $green-hover;
    }
    &:disabled {
        background-color: $grey-hover;
        box-shadow: $grey-hover 0px 5px 15px;
        &:hover {
            background-color: $grey-hover;
        }
    }
}

.default-btn_create{
    margin: 20px auto;
}

.default-btn_cancel{
    box-shadow: $grey 0px 5px 15px;
    background-color: $grey;
    &:hover {
        background-color: $grey-hover;
    }
}

.default-btn_delete{
    box-shadow: $red 0px 5px 15px;
    background-color: $red;
    &:hover {
        background-color: $red-hover;
    }
}

.default-btn_add-task{
    margin-left: 10px;
}